<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [2]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy

## 1) *Clean:* Job Listings from indeed.com that contain the title "Data Scientist" 

You have `job_listings.csv` in the data folder for this module. The text data in the description column is still messy - full of html tags. Use the [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) library to clean up this column. You will need to read thru the documentation to accomplish this task. 

`Tip:` You will need to install the `bs4` library inside your conda environment.

In [3]:
from bs4 import BeautifulSoup
import urllib3
import requests
import pandas as pd

http = urllib3.PoolManager()


url = "https://raw.githubusercontent.com/LambdaSchool/DS-Unit-4-Sprint-1-NLP/master/module2-vector-representations/data/job_listings.csv"
jobs = pd.read_csv(url)
jobs.head()

,Unnamed: 0,description,title
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist

In [4]:
#Taking one entry and trying to parse just the words from the entry
test_entry = jobs.description[0]
test_entry[:100]

'b"<div><div>Job Requirements:</div><ul><li><p>\\nConceptual understanding in Machine Learning models '

In [5]:
soup = BeautifulSoup(test_entry)
print(soup.get_text())

b"Job Requirements:\nConceptual understanding in Machine Learning models like Nai\xc2\xa8ve Bayes, K-Means, SVM, Apriori, Linear/ Logistic Regression, Neural, Random Forests, Decision Trees, K-NN along with hands-on experience in at least 2 of them\nIntermediate to expert level coding skills in Python/R. (Ability to write functions, clean and efficient data manipulation are mandatory for this role)\nExposure to packages like NumPy, SciPy, Pandas, Matplotlib etc in Python or GGPlot2, dplyr, tidyR in R\nAbility to communicate Model findings to both Technical and Non-Technical stake holders\nHands on experience in SQL/Hive or similar programming language\nMust show past work via GitHub, Kaggle or any other published article\nMaster's degree in Statistics/Mathematics/Computer Science or any other quant specific field.\nApply Now"

In [6]:
parsed_entries = []
for entry in jobs.description:
    soup = BeautifulSoup(entry)
    parsed_entries.append(soup.get_text())
    
test = pd.DataFrame(parsed_entries, columns=['parsed'])
test.head()

                                              parsed
0  b"Job Requirements:\nConceptual understanding ...
1  b'Job Description\n\nAs a Data Scientist 1, yo...
2  b'As a Data Scientist you will be working on c...
3  b'$4,969 - $6,756 a monthContractUnder the gen...
4  b'Location: USA \xe2\x80\x93 multiple location...

In [7]:
test['parsed'][0]

'b"Job Requirements:\\nConceptual understanding in Machine Learning models like Nai\\xc2\\xa8ve Bayes, K-Means, SVM, Apriori, Linear/ Logistic Regression, Neural, Random Forests, Decision Trees, K-NN along with hands-on experience in at least 2 of them\\nIntermediate to expert level coding skills in Python/R. (Ability to write functions, clean and efficient data manipulation are mandatory for this role)\\nExposure to packages like NumPy, SciPy, Pandas, Matplotlib etc in Python or GGPlot2, dplyr, tidyR in R\\nAbility to communicate Model findings to both Technical and Non-Technical stake holders\\nHands on experience in SQL/Hive or similar programming language\\nMust show past work via GitHub, Kaggle or any other published article\\nMaster\'s degree in Statistics/Mathematics/Computer Science or any other quant specific field.\\nApply Now"'

## 2) Use Spacy to tokenize the listings

In [7]:
import spacy
from spacy.tokenizer import Tokenizer

nlp = spacy.load('en_core_web_lg')

# Tokenizer
tokenizer = Tokenizer(nlp.vocab)

In [8]:
a = tokenizer('test text')
dir(a)
a.text

'test text'

In [10]:
tokens = []
for doc in tokenizer.pipe(test['parsed'],batch_size=500):
    # Generate a list of tokens for every entry in the df
    doc_tokens = [token.text for token in doc]
    # append that list to the tokens list
    tokens.append(doc_tokens)

In [19]:
tokens[0][:5]

['b"Job', 'Requirements:\\nConceptual', 'understanding', 'in', 'Machine']

In [43]:
tokens_series=pd.Series(tokens,name='tokens')

In [44]:
jobs.head()

,Unnamed: 0,description,title
0,0,"b""<div><div>Job Requirements:</div><ul><li><p>...",Data scientist
1,1,b'<div>Job Description<br/>\n<br/>\n<p>As a Da...,Data Scientist I
2,2,b'<div><p>As a Data Scientist you will be work...,Data Scientist - Entry Level
3,3,"b'<div class=""jobsearch-JobMetadataHeader icl-...",Data Scientist
4,4,b'<ul><li>Location: USA \xe2\x80\x93 multiple ...,Data Scientist

In [42]:
tokens_series.head()

0    [b"Job, Requirements:\nConceptual, understandi...
1    [b'Job, Description\n\nAs, a, Data, Scientist,...
2    [b'As, a, Data, Scientist, you, will, be, work...
3    [b'$4,969, -, $6,756, a, monthContractUnder, t...
4    [b'Location:, USA, \xe2\x80\x93, multiple, loc...
Name: tokens, dtype: object

In [38]:
tokens_series.name

'tokens'

In [ ]:
toke

In [49]:
token_jobs = pd.merge(jobs,tokens_series,left_index=True,right_index=True)

In [55]:
token_jobs.drop(['description'],1,inplace=True)

In [56]:
token_jobs.head()

,Unnamed: 0,title,tokens
0,0,Data scientist,"[b""Job, Requirements:\nConceptual, understandi..."
1,1,Data Scientist I,"[b'Job, Description\n\nAs, a, Data, Scientist,..."
2,2,Data Scientist - Entry Level,"[b'As, a, Data, Scientist, you, will, be, work..."
3,3,Data Scientist,"[b'$4,969, -, $6,756, a, monthContractUnder, t..."
4,4,Data Scientist,"[b'Location:, USA, \xe2\x80\x93, multiple, loc..."

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [72]:
from sklearn.feature_extraction.text import CountVectorizer

vect = CountVectorizer(stop_words='english')

# Getting one list with every single token
# This will have duplicates. Will that influence result?
all_tokens=[]
for i in tokens:
    for token in i:
        all_tokens.append(token)

vect.fit(all_tokens)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [84]:
# test = vect.transform(all_tokens)
# pd.DataFrame(test.todense(),columns=vect.get_feature_names)

count_df = pd.DataFrame(columns = ['token','count_vector'])

for token in token_jobs['tokens']:
    vect.transform(token)
    new_row = {'token':token, 'count_vector':vect.transform(token)}
    count_df=count_df.append(new_row,ignore_index=True)
    
count_df.head()

,token,count_vector
0,"[b""Job, Requirements:\nConceptual, understandi...","(0, 4315)\t1\n (1, 5469)\t1\n (1, 7952)\t1..."
1,"[b'Job, Description\n\nAs, a, Data, Scientist,...","(0, 4315)\t1\n (1, 2235)\t1\n (1, 5269)\t1..."
2,"[b'As, a, Data, Scientist, you, will, be, work...","(0, 705)\t1\n (2, 2071)\t1\n (3, 8234)\t1\..."
3,"[b'$4,969, -, $6,756, a, monthContractUnder, t...","(0, 214)\t1\n (2, 187)\t1\n (4, 5057)\t1\n..."
4,"[b'Location:, USA, \xe2\x80\x93, multiple, loc...","(0, 4635)\t1\n (1, 9550)\t1\n (2, 9911)\t1..."
5,"[b'Create, various, Business, Intelligence, An...","(0, 1949)\t1\n (1, 9610)\t1\n (2, 1162)\t1..."
6,"[b'As, Spotify, Premium, swells, to, over, 96M...","(0, 705)\t1\n (1, 8695)\t1\n (2, 7373)\t1\..."
7,"[b""Everytown, for, Gun, Safety,, the, nation's...","(0, 2885)\t1\n (1, 3249)\t1\n (2, 3613)\t1..."
8,"[b""MS, in, a, quantitative, discipline, such, ...","(0, 5096)\t1\n (1, 3944)\t1\n (3, 7657)\t1..."
9,"[b'Slack, is, hiring, experienced, data, scien...","(0, 8522)\t1\n (1, 4275)\t1\n (2, 3741)\t1..."
10,"[b'Who, We, Are\nBlackThorn, Therapeutics, is,...","(0, 9834)\t1\n (1, 9783)\t1\n (2, 675)\t1\..."
11,"[b'Part-timeAbout, The, Opportunity\nHere, at,...","(0, 7029)\t1\n (0, 9220)\t1\n (1, 9145)\t1..."
12,"[b""nfosys\xe2\x80\x93, Data, &, Analytics, \xe...","(0, 5822)\t1\n (0, 9911)\t1\n (0, 9924)\t1..."
13,"[b'As, Spotify, Premium, swells, to, over, 96M...","(0, 705)\t1\n (1, 8695)\t1\n (2, 7373)\t1\..."
14,"[b'Experience, with, guiding, R&D, strategy, f...","(0, 2960)\t1\n (1, 9863)\t1\n (2, 3612)\t1..."
15,"[b'The, Atlantic, is, seeking, a, Data, Scient...","(0, 9145)\t1\n (1, 761)\t1\n (2, 4275)\t1\..."
16,"[b'THE, CHALLENGE\nEventbrite, is, big,, bustl...","(0, 9145)\t1\n (1, 1349)\t1\n (1, 5725)\t1..."
17,"[b'ContractWe, are, looking, to, hire, for, a,...","(0, 1833)\t1\n (1, 675)\t1\n (2, 4658)\t1\..."
18,"[b""Everytown, for, Gun, Safety,, the, nation's...","(0, 2885)\t1\n (1, 3249)\t1\n (2, 3613)\t1..."
19,"[b'$70,000, -, $100,000, a, yearTitle:, Data, ...","(0, 1)\t1\n (0, 180)\t1\n (2, 1)\t1\n (2,..."
20,"[b'$45,000, a, yearWorking, under, direction, ...","(0, 1)\t1\n (0, 143)\t1\n (2, 10046)\t1\n ..."
21,"[b'The, Challenge:\nAre, you, excited, at, the...","(0, 9145)\t1\n (1, 1349)\t1\n (1, 5264)\t1..."
22,"[b'We, are, seeking, a, Data, Scientist, to, j...","(0, 9783)\t1\n (1, 675)\t1\n (2, 8310)\t1\..."
23,"[b'Motiion, is, a, technology, and, data, comp...","(0, 5071)\t1\n (1, 4275)\t1\n (3, 9087)\t1..."
24,"[b'The, Scientist, is, responsible, for, the, ...","(0, 9145)\t1\n (1, 8234)\t1\n (2, 4275)\t1..."
25,"[b""As, a, Data, Scientist, for, Ads, Measureme...","(0, 705)\t1\n (2, 2071)\t1\n (3, 8234)\t1\..."
26,"[b'Summary\nPosted:, Mar, 6,, 2019\nWeekly, Ho...","(0, 6283)\t1\n (0, 8930)\t1\n (1, 4767)\t1..."
27,"[b'Slack, is, looking, for, experienced, data,...","(0, 8522)\t1\n (1, 4275)\t1\n (2, 4658)\t1..."
28,"[b""nfosys\xe2\x80\x93, Data, &, Analytics, \xe...","(0, 5822)\t1\n (0, 9911)\t1\n (0, 9924)\t1..."
29,"[b'Part-time,, InternshipSUMMARY:\n\n\nSierra,...","(0, 7029)\t1\n (0, 9219)\t1\n (1, 4193)\t1..."
...,...,...
396,"[b""ABOUT, US\nLark, is, the, world's, largest,...","(0, 228)\t1\n (1, 6009)\t1\n (1, 9548)\t1\..."
397,"[b'Zenreach, solves, a, major, problem, for, b...","(0, 10059)\t1\n (1, 8596)\t1\n (3, 4722)\t..."
398,"[b'Position, Description\nAs, the, Walmart, Vo...","(0, 7298)\t1\n (1, 2235)\t1\n (1, 5269)\t1..."
399,"[b'By, trade, we, are, a, technology, company,...","(0, 1177)\t1\n (1, 9291)\t1\n (2, 9783)\t1..."
400,"[b'Purpose, &, Overall, Relevance, for, the, O...","(0, 7606)\t1\n (2, 6962)\t1\n (3, 7872)\t1..."
401,"[b""about, dscout\nWe, are, dscout., At, our, c...","(0, 228)\t1\n (1, 2516)\t1\n (1, 6711)\t1\..."
402,"[b""Junior, Data, Scientist, -, Big, Data, (Ent...","(0, 4347)\t1\n (1, 2071)\t1\n (2, 8234)\t1..."
403,"[b""About, Us\nInterested, in, working, for, a,...","(0, 228)\t1\n (1, 5962)\t1\n (1, 9548)\t1\..."
404,"[b'Air, Products,, Inc.,, a, Fortune, 500, man...","(0, 451)\t1\n (1, 7479)\t1\n (2, 3948)\t1\..."
405,"[b""Data, Scientist, -\nDo, you, want, the, opp...","(0, 2071)\t1\n (1, 8234)\t1\n (2, 5603)\t1..."
406,"[b'Job, Description:\nData, Scientist\nInterac...","(0, 4315)\t1\n (1, 2235)\t1\n (1, 5534)\t1..."
407,"[b'The, Data, Scientist, I, mines, and, analyz...","(0, 9145)\t1\n (1, 2071)\t1\n (2, 8234)\t1..."
408,"[b'FinLocker, is, a, leading, financial, data,...","(0, 3173)\t1\n (1, 4275)\t1\n (3, 4493)\t1..."
409,"[b'With, annual, sales, of, $15, billion,, Eco...","(0, 9863)\t1\n (1, 586)\t1\n (2, 8167)\t1\..."
410,"[b'Job, Description:\n\nThe, Enterprise, Data,...","(0, 4315)\t1\n (1, 2235)\t1\n (1, 6595)\t1..."
411,"[b""Description:\nChicago, -, IL,, IL150SW,, 15...","(0, 2235)\t1\n (0, 5407)\t1\n (2, 3886)\t1..."
412,"[b'Nike, Supply, Chain, experts, ensure, that,...","(0, 5918)\t1\n (1, 8946)\t1\n (2, 1346)\t1..."
413,"[b'The, Principal, Data, Scientist, is, respon...","(0, 9145)\t1\n (1, 7422)\t1\n (2, 2071)\t1..."
414,"[b'We, are, looking, for, a, Senior, Data, Sci...","(0, 9783)\t1\n (1, 675)\t1\n (2, 4658)\t1\..."
415,"[b'Temporary,, Internship\nThe, Marketing, Dat...","(0, 9107)\t1\n (1, 4176)\t1\n (1, 6595)\t1..."
416,"[b'Los, Gatos,, California\nScience, and, Anal...","(0, 4663)\t1\n (1, 3425)\t1\n (2, 1203)\t1..."
417,"[b'About, the, Role...\n\nLogic2020, is, looki...","(0, 228)\t1\n (1, 9145)\t1\n (2, 6037)\t1\..."
418,"[b'ContractThe, role, is, largely, operational...","(0, 1832)\t1\n (1, 8109)\t1\n (2, 4275)\t1..."
419,"[b'Bachelor\xe2\x80\x99s, or, Master\xe2\x80\x...","(0, 864)\t1\n (0, 9911)\t1\n (0, 9960)\t1\..."
420,"[b'At, Uber,, we, ignite, opportunity, by, set...","(0, 755)\t1\n (1, 9414)\t1\n (2, 9783)\t1\..."
421,"[b""About, Us:\nWant, to, be, part, of, a, fant...","(0, 228)\t1\n (1, 6709)\t1\n (1, 9548)\t1\..."
422,"[b'InternshipAt, Uber,, we, ignite, opportunit...","(0, 4178)\t1\n (1, 9414)\t1\n (2, 9783)\t1..."
423,"[b'$200,000, -, $350,000, a, yearA, million, p...","(0, 1)\t1\n (0, 77)\t1\n (2, 1)\t1\n (2, ..."
424,"[b""SENIOR, DATA, SCIENTIST\nJOB, DESCRIPTION\n...","(0, 8342)\t1\n (1, 2071)\t1\n (2, 5989)\t1..."
425,"[b'Cerner, Intelligence, is, a, new,, innovati...","(0, 1331)\t1\n (1, 4136)\t1\n (2, 4275)\t1..."

In [87]:
dtm = pd.DataFrame(count_df['count_vector'][0].todense(),columns=vect.get_feature_names())
dtm

,00,000,02115,03,0356,04,062,06366,08,10,...,zenreach,zero,zeus,zf,zheng,zillow,zones,zoom,zuckerberg,zurich
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
81,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
82,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
85,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
87,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
89,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
90,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
91,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
97,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
101,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
104,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
106,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 4) Visualize the most common word counts

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)